<!-- The component template, written in HTML -->

<!-- The double curly braces are Angular's interpolation binding syntax. 
    This interpolation binding presents the component's title property value 
    inside the HTML header tag. -->
<h1>{{ title }}</h1>


<!--Add a <nav> element and, within that, an anchor element that, when clicked, triggers navigation to 
    the HeroesComponent.-->
<!--A routerLink attribute is set to "/heroes", the string that the router matches to the route to 
    HeroesComponent. The routerLink is the selector for the RouterLink directive that turns user clicks 
    into router navigations. It's another of the public directives in the RouterModule.-->
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
<!--To display the HeroesComponent, you must add it to the template of the 
    shell AppComponent. Remember that app-heroes is the element selector 
    for the HeroesComponent. So add an <app-heroes> element to the AppComponent 
    template file, just below the title.
<app-heroes></app-heroes>-->

<!--Open the AppComponent template and replace the <app-heroes> element with a <router-outlet> element.-->
<!--The AppComponent template no longer needs <app-heroes> because the application will only display the 
    HeroesComponent when the user navigates to it.
    The <router-outlet> tells the router where to display routed views.-->
<router-outlet></router-outlet>

<app-messages></app-messages>
